<configuration>
   <system.webServer>
      <security>
         <requestFiltering>
            <requestLimits maxUrl="100000" maxQueryString="100000">
            </requestLimits>
         </requestFiltering>
      </security>
   </system.webServer>
   <system.web>
        <customErrors mode="Off" />
    </system.web>
</configuration>