 <?xml version="1.0" encoding="utf-8"?>  
 <configuration>  
    <system.web>
      <httpRuntime maxUrlLength="109999" maxQueryStringLength="20971951" /> 
    </system.web>
     <system.webServer>           
       <security>
         <requestFiltering>
            <requestLimits maxUrl="10000000" maxQueryString="10000000">
            </requestLimits>
         </requestFiltering>
      </security>
    </system.webServer>  
  </configuration>