<configuration>
   <system.webServer>
      <security>
         <requestFiltering>
            <requestLimits maxUrl="10000000" maxQueryString="10000000">
            </requestLimits>
         </requestFiltering>
      </security>
   </system.webServer>
   <system.web>
   		<httpRuntime maxUrlLength="10000000" maxQueryStringLength="10000000" /> 
        <customErrors mode="Off" />
    </system.web>
</configuration>